node_modules
dist
dist-ssr
.output
.vinxi
.tanstack/**
.nitro
*.local

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo

# API Keys and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cloudflare / Wrangler Configs
wrangler.jsonc